:root {
    --primary-orange: #ff5f0a;
    --primary-purple: #870aa0;
    --primary-green: #00be5f;
    --primary-yellow: #ffcd32;
    --primary-blue: #2819ff;
    --primary-aqua: #00f0af;
    --primary-skyblue: #23c3ff;
    --secondary-lightskyblue: #aae6ff;
    --secondary-lightorange: #ffbe9b;
    --secondary-lightyellow: #fff0af;
}

* {
    box-sizing: border-box;
    font-family: sofia-pro, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes flash-m {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}

@keyframes flash {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }

}

html {
    font-size: 12px;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 1rem 0;
}

ul {
    font-size: 1.3rem;
    margin-top: 1rem;
}

section a {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
    display: block;
}

nav > div > a {
    font-size: 2rem;
    text-decoration: none;
}

nav div div a {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: var(--primary-blue);
    font-size: 1.5rem;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--primary-orange);
    height: 100px;
    padding: 1rem;
}

header .header-wrapper {
    width: 100%;
    max-width: 1220px;
    gap: 3rem;
}

.header-wrapper > a {
    align-self: stretch;
    width: 150px;
    margin-left: 1rem;
}

#hamburger, .btn-close-menu {
    cursor: pointer;
    font-size: 6rem;
    color: #fff;
    margin-right: 1rem;
}

#navbar {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 1rem;
    background-color: var(--secondary-lightorange);
    color: black;
}

#hero {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: calc(100vh - 100px);
}

main {
    padding: 1rem;
}

section {
    background-color: white;
    padding: 2rem 1rem;
    margin: 3rem 0;
}

.lightbox-wrapper {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 100px);
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.lightbox {
    background-color: #f0f0f0;
    padding: 0.7rem;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-y: scroll;
    box-shadow: 0px 2px 15px 1px #000000;
}

.lightbox h3 {
    text-decoration: underline;
    font-size: 2rem;
}

.lightbox .close-lb-ex, .close-lb-experience {
    color: var(--primary-blue);
    font-size: 4rem;
    cursor: pointer;
}

.show {
    display: block;
}

.explain-graphics-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 1rem;
}

.explain-graphics {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-lightskyblue);
}

.explain-graphics p {
    font-size: 2rem;
    font-style: italic;
}

.explain-graphics img{
    width: 35%;
}

#experience .art-wrapper-lg {
    display: none;
}

#experience .slider-control-lg {
    display: none;
}

#experience article {
    background-color: var(--primary-aqua);
    margin-bottom: 1.5rem;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    min-height: 429px;
}

#experience article p {
    flex-grow: 1;
}

#experience article > div {
    gap: 0.7rem;
    padding: 0.7rem;
    background-color: var(--secondary-lightyellow);
    border-bottom: 1px solid #888;
}

#experience article > div h3 {
    max-width: 60%;
}

#experience article .avatar-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    border: 1px solid #888;
}

.avatar-holder img {
    height: 70px;
}

#experience article p {
    padding: 1rem;
}

#experience article a {
    padding-left: 2rem;
}

#experience .slider-control {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #ccc;
}

#experience .opt-selected {
    color: var(--primary-green);
    font-size: 2rem;
}

.prev-art, .next-art, .prev-art-lg, .next-art-lg{
    font-size: 3rem;
    color: var(--primary-blue);
    cursor: pointer;
}

.animate {
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

#offers .loan-offer-container {
    display: flex;
    flex-flow: column;
}

#offers .loan-offer {
    background-color: var(--primary-green);
    border: 1px solid black;
    padding: 1rem;
    margin: 1.5rem 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
    width: 260px;
    min-height: 260px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.loan-offer > div {
    gap: 1rem;
}

.loan-offer img{
    width: 30%;
}

.loan-offer p {
    font-size: 2rem;
    font-weight: bold;
}

.loan-offer a {
    font-size: 2rem;
    padding: 1rem 2rem;
}

#news img {
    width: 40%;
}

.form-wrapper {
    margin-top: 2rem;
}

form {
    background-color: var(--primary-skyblue);
    padding: 1rem;
}

.form-wrapper img {
    display: none;
}

form label {
    font-weight: bold;
    font-size: 1.8rem;
}

form .btn {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

footer {
    background-color: var(--primary-purple);
    height: 100px;
    font-size: 3rem;
    gap: 2rem;
}

footer a {
    background-color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 375px) {

    #experience article > div h3 {
        max-width: 70%;
    }

    form {
        padding: 1.5rem;
    }

}

@media screen and (min-width: 425px) {

    main {
        padding: 1rem 1.5rem;
    }

    section {
        padding: 2rem 1.5rem;
    }

    .lightbox {
        width: 90%;
        padding: 1.5rem;
        box-shadow: 0px 0px 18px 2px #000000;
    }

    .lightbox p {
        margin: 2rem 0;
    }

    .explain-graphics-wrapper > img {
        width: 400px;
    }

    .explain-graphics {
        padding: 1.5rem;
    }

    #experience .art-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    #experience article {
        max-width: 400px;
    }

    #experience article > div {
        gap: 1rem;
        padding: 1rem;
    }

    .form-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    form {
        width: 370px;
        padding: 2rem;
    }

}

@media screen and (min-width: 600px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    section > p {
        font-size: 1.6rem;
        padding: 1rem 2rem;
    }

    ul {
        font-size: 1.5rem;
        padding: 1rem 4rem;
    }

    section > a {
        font-size: 1.5rem;
        padding: 0 2rem;
    }

    section {
        padding: 2.5rem;
    }

    .lightbox {
        max-width: 600px;
        padding: 2.5rem;
        box-shadow: 0px 0px 25px 3px #000000;
    }

    .lightbox .close-lb-ex, .close-lb-experience {
        font-size: 6rem;
    }

    .explain-graphics {
        padding: 2.5rem;
    }

}

@media screen and (min-width: 768px) {

    main {
        padding: 3rem;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    section {
        padding: 3rem;
        max-width: 720px;
    }

}

@media screen and (min-width: 1024px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    section > p {
        font-size: 2rem;
        padding: 2rem 8rem;
    }

    ul {
        font-size: 1.6rem;
        padding: 2rem 8rem;
    }

    section > a {
        font-size: 1.6rem;
        padding: 0 8rem;
    }

    #hamburger, .btn-close-menu {
        display: none;
    }

    #navbar {
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        position: static;
        margin-left: 5rem;
    }

    #navbar > div > a {
        padding: 0.3rem 2rem;
        background-color: white;
        border: 1px solid #ccc;
    }

    #navbar > div > a:hover {
        text-decoration: underline;
    }

    .animate-m {
        animation-name: flash-m;
        animation-duration: 0.3s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    #navbar div div {
        position: absolute; 
    }

    .dropdown-menu-holder1 {
        width: 188.92px;
    }

    .dropdown-menu-holder2 {
        width: 283.45px;
    }

    .dropdown-menu-holder3 {
        width: 143.11px;
    }

    main {
        padding: 2rem;
    }

    section {
        max-width: 900px;
    }

    .lightbox {
        max-width: 800px;
        box-shadow: 0px 0px 40px 4px #000000;
    }

    .lightbox p {
        padding: 2rem 4rem;
    }

    .explain-graphics-wrapper {
        flex-flow: row;
    }

    .explain-graphics-wrapper > img {
        width: 50%;
        height: 459.55px;
    }

    .explain-graphics {
        max-width: 50%;
        margin: 0;
    }

    #experience .art-wrapper {
        display: none;
    }

    #experience .slider-control {
        display: none;
    }

    #experience .art-wrapper-lg {
        display: flex;
        justify-content: space-between;
    }

    #experience .slider-control-lg {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: #ccc;
    }

    #offers .loan-offer-container {
        flex-flow: row;
        justify-content: space-between;
    }

    .form-wrapper {
        display: flex;
        flex-flow: row;
        justify-content: center;
        gap: 1rem;
    }

    .form-wrapper img {
        display: inline;
        flex-shrink: 1;
        flex-basis: 25%;
        max-width: 200px;
        align-self: flex-end;
    }

    form {
        flex-shrink: 0;
    }

    .header-wrapper > a, #logo {
        align-self: stretch;
        width: 192.82px;
    }

}