:root {
    --primary-orange: #ff5f0a;
    --primary-purple: #870aa0;
    --primary-green: #00be5f;
    --primary-yellow: #ffcd32;
    --primary-blue: #2819ff;
    --primary-aqua: #00f0af;
    --primary-skyblue: #23c3ff;
    --secondary-lightskyblue: #aae6ff;
    --secondary-lightaqua: #a5fae6;
    --secondary-lightorange: #ffbe9b;
    --secondary-lightyellow: #fff0af;
}

* {
    box-sizing: border-box;
    font-family: sofia-pro, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    /* font-size: calc(25px + 25 * ((100vw - 320px) / 1600)); */
    font-size: 2.2rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
    /* text-decoration: underline; */
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 1rem 0;
}

ul {
    font-size: 1.3rem;
}

section a {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
    display: block;
}

nav > div > a {
    font-size: 2rem;
    text-decoration: none;
}

nav div div a {
    font-size: 1.5rem;
    
}

/* button {
    background-color: var(--primary-blue);
} */

.btn-primary {
    background-color: var(--primary-blue);
    font-size: 1.5rem;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--primary-orange);
    height: 100px;
    padding: 1rem;
    
    /* flex-flow: row wrap; */
}

header .header-wrapper {
    width: 100%;
    max-width: 1220px;
    gap: 3rem;
}

#logo {
    height: 60px;
}

#hamburger {
    cursor: pointer;
    height: 60px;
}

#navbar {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    /* align-self: center; */
    /* background-color: lightcoral; */
}

#navbar a {
    display: block;
    padding: 1rem;
    background-color: var(--secondary-lightorange);
    color: black;
}

#hero {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: calc(100vh - 100px);
}

main {
    padding: 1rem;
}

section {
    background-color: white;
    padding: 2rem 1rem;
    margin: 3rem 0;
}

.header-container {
    /* height: 2rem; */
}

.header-container img{
    height: 1.5rem;
}

.lightbox-wrapper {
    display: none;
    position: fixed;
    top: 25vh;
    left: 0;
    margin: 1rem;
    /* height: 90vh; */
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.lightbox {
    background-color: white;
    padding: 0.7rem;
}

.show {
    display: block;
}

.explain-graphics-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.explain-graphics {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-lightskyblue);
}

.explain-graphics p {
    font-size: 2rem;
    font-style: italic;
}

.explain-graphics img{
    width: 35%;
    /* max-width: 175px; */
}

#experience .art-wrapper-lg {
    display: none;
}

#experience .slider-control-lg {
    display: none;
}

#experience article {
    background-color: var(--primary-yellow);
    margin-bottom: 1.5rem;
    border: 1px solid black;
}

#experience article > div {
    gap: 0.7rem;
    padding: 0.7rem;
    background-color: var(--secondary-lightyellow);
    border-bottom: 1px solid #888;
}

#experience article > div h3 {
    max-width: 60%;
}

#experience article .avatar-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    border: 1px solid #888;
}

.avatar-holder img {
    height: 70px;
}

#experience article p {
    padding: 1rem;
}

#experience article a {
    padding-left: 2rem;
}

#experience .slider-control {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #ccc;
}

#experience .opt-selected {
    color: var(--primary-green);
    font-size: 2rem;
}

.prev-art, .next-art, .prev-art-lg, .next-art-lg{
    font-size: 3rem;
    color: var(--primary-blue);
}

#experience .slider-control i {
    
}

/* #experience article:nth-child(odd) {
    background-color: var(--primary-aqua);
}

#experience article:nth-child(even) {
    background-color: var(--primary-yellow);
} */

#offers {
    width: 100%;
}

#offers .loan-offer-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#offers .loan-offer {
    background-color: var(--primary-green);
    border: 1px solid black;
    padding: 1rem;
    margin: 1.5rem 0;
    max-width: 260px;
    min-height: 260px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.loan-offer > div {
    gap: 1rem;
}

.loan-offer img{
    width: 30%;
    /* background-color: var(--primary-blue); */
}

.loan-offer p {
    font-size: 2rem;
    font-weight: bold;
}

.loan-offer a {
    font-size: 2rem;
    padding: 1rem 2rem;
    
}

/* .point-img {
    position: relative;
    right: -10%;
    top: -100px;
} */

/* #news {
    background-image: url("img/m-point-left.png");
} */

#news {
    /* padding: 0; */
}

#news img {
    width: 40%;
}

form {
    background-color: var(--primary-skyblue);
    padding: 1rem;
}

.form-wrapper img {
    display: none;
}

form label {
    font-weight: bold;
    font-size: 1.5rem;
}

form button {
    font-size: 3rem;
}

footer {
    background-color: var(--primary-purple);
    height: 15vh;
    font-size: 2rem;
    gap: 1.5rem;
}

footer div {
    background-color: white;
    /* padding: 0 1rem; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 375px) {
    #experience article > div h3 {
        max-width: 70%;
    }

    form {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 425px) {
    main {
        padding: 1rem 1.5rem;
    }

    section {
        padding: 2rem 1.5rem;
    }

    .explain-graphics-wrapper > img {
        width: 400px;
    }

    .explain-graphics {
        padding: 1.5rem;
    }

    #experience .art-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    #experience article {
        max-width: 400px;
    }

    #experience article > div {
        gap: 1rem;
        padding: 1rem;
    }

    .form-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    form {
        width: 370px;
        padding: 2rem;
    }
}

@media screen and (min-width: 600px) {
    section {
        padding: 2.5rem;
    }

    .explain-graphics {
        padding: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    main {
        padding: 3rem;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    section {
        padding: 3rem;
        max-width: 720px;
    }
}

@media screen and (min-width: 900px) {
    #hamburger {
        display: none;
    }

    #navbar {
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        position: static;
        /* background-color: brown; */
    }

    #navbar > div > a {
        /* display: inline-block; */
        padding: 0.8rem 2rem;
        background-color: white;
        border: 1px solid #ccc;
    }

    #navbar div div {
        position: absolute; 
    }

    .dropdown-menu-holder1 {
        width: 186.08px;
    }

    .dropdown-menu-holder2 {
        width: 282.14px;
    }

    .dropdown-menu-holder3 {
        width: 140.67px;
    }
}

@media screen and (min-width: 1024px) {
    #navbar {
        margin-left: 5rem;
    }

    main {
        padding: 4rem;
    }

    section {
        max-width: 900px;
    }

    .explain-graphics-wrapper {
        flex-flow: row;
    }

    .explain-graphics-wrapper > img {
        width: 50%;
        height: 459.55px;
        /* align-self: flex-start; */
    }

    .explain-graphics {
        max-width: 50%;
    }

    #experience .art-wrapper {
        display: none;
    }

    #experience .slider-control {
        display: none;
    }

    #experience .art-wrapper-lg {
        display: flex;
        justify-content: space-between;
    }

    #experience .slider-control-lg {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: #ccc;
    }

    #offers .loan-offer-container {
        flex-flow: row;
        justify-content: space-between;
    }

    .form-wrapper {
        display: flex;
        flex-flow: row;
        justify-content: center;
        gap: 1rem;
    }

    .form-wrapper img {
        display: inline;
        /* flex-grow: 0; */
        flex-shrink: 1;
        flex-basis: 25%;
        max-width: 200px;
        /* width: 200px; */
        /* height: 250px; */
    }

    form {
        /* width: 50%; */
        flex-shrink: 0;
    }
}