:root {
    --primary-orange: #ff5f0a;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 50pt;
}

h2 {
    font-size: 40pt;
}

h3 {
    font-size: 30pt;
}

p {
    font-size: 20pt;
}

header {
    background-color: var(--primary-orange);
    height: 10vh;
}

#logo {
    width: 200px;
}

#hero {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

main {
    padding: 2rem;
}

section {
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
}